@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;600;700&display=swap");

body,
html {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.product-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #d9534f;
}

.product-description {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

button,
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}
